In [ ]:
import json
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:,.2f}'.format

dataset_path = '../data/raw/emendas.json'

with open(dataset_path) as file_data:
    data = json.load(file_data)['data']
    df = pd.DataFrame(data)

In [ ]:
# Convertendo colunas de valores para o dtype correto
df.info()

value_columns = [
    'valorEmpenhado',
    'valorLiquidado',
    'valorPago',
    'valorRestoInscrito',
    'valorRestoCancelado',
    'valorRestoPago',
    'valorRestoAPagar',
]
for column in value_columns:
    df[column] = df[column].str.replace('.', '').str.replace(',', '.')
    
value_dtypes_dict = { col:'float' for col in value_columns }
df = df.astype(value_dtypes_dict)
    
df.describe()

In [29]:
df.localidadeDoGasto.value_counts()

Nacional             382
Nordeste               9
RIO GRANDE DO SUL      5
Sul                    4
Centro-Oeste           4
Sudeste                4
MINAS GERAIS           3
ALAGOAS                3
Norte                  3
MATO GROSSO            2
PERNAMBUCO             2
GOIÁS                  2
SANTA CATARINA         1
CEARÁ                  1
PARAÍBA                1
TIMON                  1
MARANHÃO               1
PARÁ                   1
PORTO VELHO            1
MATÕES DO NORTE        1
AMAPÁ                  1
Name: localidadeDoGasto, dtype: int64